.tabsNav {
    display: flex;
    width: 100%;
}

.tabsNavItem {
    cursor: pointer;
    max-width: 100%;
    width: 100%;
    min-height: 50px;
    text-align: center;
    padding: 20px 0;
    border: 1px solid #000000;
}

.tabsNavItem + .tabsNavItem{
    border-left: none;
}
