.listItem {
    position: relative;
    border: 1px solid #000000;
    margin-bottom: 10px;
    padding: 10px;
}

.listItem:hover .actionBtn{
    display: block;
}

.actionBtn {
    display: none;
    position: absolute;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: fit-content;
    height: 80%;
}

.actionBtn.restoreBtn {
    background-color: green;
}

.actionBtn.deleteBtn {
    background-color: red;
}

.statusControls {
    display: flex;
    column-gap: 3px;
}

.statusBar,
.statusBtn{
    cursor: pointer;
    border: none;
    border-radius: 2px;
    color: #ffffff;
}

.statusBar {
    padding: 2px 5px;
}
