.listItem {
    position: relative;
    border: 1px solid #000000;
    margin-bottom: 10px;
}

.listItem:hover .deleteBtn{
    display: block;
}

.deleteBtn {
    display: none;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: fit-content;
    height: 80%;
    background: red;
    cursor: pointer;
}

.statusControls {
    display: flex;
    column-gap: 3px;
}
.deleteBtn,
.statusBtn,
.statusBar{
    cursor: pointer;
    border: none;
    border-radius: 2px;
    color: #ffffff;
}

.statusBar {
    padding: 2px 5px;
}