@font-face {
    font-family: 'Dongle Bold';
    src: local('Dongle'), url('./fonts/Dongle-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Dongle Light';
    src: local('Dongle'), url('./fonts/Dongle-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Dongle Regular';
    src: local('Dongle'), url('./fonts/Dongle-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BalsamiqSans Bold';
    src: local('BalsamiqSans Bold'), url('./fonts/BalsamiqSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'BalsamiqSans Regular';
    src: local('BalsamiqSans Regular'), url('./fonts/BalsamiqSans-Regular.ttf') format('truetype');
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 18px;
    font-family: "BalsamiqSans Regular", sans-serif;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
